@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url("./style/header.css");
@import url("./style/banner.css");
@import url("./style/carrossel.css");
@import url("./style/topicos.css");
@import url("./style/contato.css");
@import url("./style/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --cor-branca: #FFFFFF;
    --cor-azul: #002F52;
    --cor-gradiente: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-laranja: #EB9B00;
    --cor-cinza: #C4C4C4;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

