.contato{
    background-color: var(--cor-branca);
    padding: 1rem;
}

.contato__titulo, .contato__texto{
    background: var(--cor-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto{
    font-size: 16px;
    font-weight: 300;
    margin: 1rem 0;
}

.contato__email{
    padding: 1rem;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-azul);
}

.contato__email::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-azul);
    background: url("../assets/email.svg") no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width: 1024px){
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo{
        font-size: 24px;
    }

    .contato__descricao{
        margin-right: 1rem;
        width: 30%;
    }

    .contato__descricao{
        margin-right: 1rem;
    }

    .contato__email{
        width: 30%;
    }
}

@media screen and (min-width: 1728px){
    .contato{
        padding: 5rem 20vw;
    }
}