hr{
    margin: 0;
}

.rodape{
    background-color: var(--cor-branca);
    padding: 1rem;
    text-align: left;
    color: var(--cor-azul);
    font-weight: 400;
    font-size: 16px;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6rem;
    }

    .lista-rodape__link{
        color: var(--cor-cinza-escuro);
        text-decoration: none;
        margin-left: 0.6rem;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cor-cinza-claro);
        text-transform: uppercase;
    }

    .roda__pe{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 0.1rem solid var(--cor-cinza-claro);
        padding-left: 1rem;
    }

    .rodape{
        padding: 3rem 0;
    }
}